{% extends "base.html" %}

{% block content %}

<div id='message'>
<h3><b>2017 Orange After OD &amp Fare Survey Dashboard</b></h3>
</div>

<div id="index-content">
<h4><strong>Boarding and Alighting</strong></h4>
<ul style="list-style-type: none; font-size: medium;">
  <!--<li style="margin-top: 20px;"><a href="{{ url_for('index') }}introduction"><b>Introduction</b></a></li>-->
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}onoff/data"><b>Data</b></a></li>
  <li style="margin-top: 20px;"><a href="{{ url_for('index') }}onoff/surveyors"><b>Surveyor</b></a></li>
  <!--<li style="margin-top: 20px;"><a href="{{ url_for('index') }}onoff/status"><b>Status</b></a></li>-->
  <!--<li style="margin-top: 20px;"><a href="{{ url_for('index') }}map"><b>Map</b></a></li>-->
</ul>
</div>
{% endblock %}





